
body {
	background-color: black;
}

#title {
	font-family: Helvetica;
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-align: center;
	
}

h2 {
	font-family: Helvetica;
	font-size: 16px;
	font-weight: normal;
	color: Aquamarine;
	text-align: center;
	text-decoration: underline;
}
figure {
    display: flex;
    justify-content: center;
}
p {
	font-family: Verdana;
	font-size: 21px;
	font-weight: bold;
	color: Gray;
	text-align: center;
}
#travel-guide {
	font-family: Verdana;
	font-size: 35px;
	font-weight: 300;
	color: White;
	text-align: center;
	
}

#iPhone {
	font-family: Verdana;
	font-size: 35px;
	font-weight: 300;
	color: White;
	text-align: center;
	
}
#copyright {
	font-family: Verdana;
	font-size: 15px;
	color: Gray;
	text-align: right;
}